main {
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    background-image: url("../../../src/Utilities/Images/background.jpg");
}

#loadingCircle {
    margin: auto auto;
    color: #FF6347;
}