#viewDetailsButton {
    font-size: 17px;
    font-family: Courier New;
    font-weight: bolder;
    margin-left: 75px;
    color: white;
    border-color: white;
    width: 220px;
}

#viewDetailsButton:hover {
    background-color: #1273de;
    color: white;
}